<div class="about-wrapper">
  <div class="container-common">
    <div class="row">
     <div class="col-md-6 col-md-offset-3">
      <h3>本サービスについて</h3>
       <ul class="help-list">
        <li>本サービスの使い方</li>
        <li>お問い合わせ</li>
        <li>ご意見箱</li>
        <li>よくある質問</li>
       </ul>
     </div>
   </div>
  </div>
</div>
